# --- App ---
APP_ENV=prod
API_HOST=0.0.0.0
API_PORT=8080
API_BASE_URL=http://api:8080
TELEGRAM_BOT_TOKEN=PUT_YOUR_BOT_TOKEN

# --- PostgreSQL ---
POSTGRES_DB=vpn_bot
POSTGRES_USER=vpn
POSTGRES_PASSWORD=vpnpass
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# --- YooKassa ---
YOOKASSA_SHOP_ID=PUT_SHOP_ID
YOOKASSA_SECRET_KEY=PUT_SECRET_KEY
YOOKASSA_RETURN_URL=https://t.me/your_bot

# --- Marzban ---
MARZBAN_BASE_URL=http://host.docker.internal:8000
MARZBAN_PUBLIC_BASE_URL=http://94.159.99.100:8000
MARZBAN_USERNAME=admin
MARZBAN_PASSWORD=admin
MARZBAN_USE_MOCK=true
MARZBAN_DEFAULT_PROTOCOL=vless
MARZBAN_DEFAULT_INBOUND_TAG=VLESS TCP
MARZBAN_SUB_FALLBACK=

# --- Plans ---
PLAN_STARTER_PRICE=100
PLAN_STARTER_DAYS=30
PLAN_STARTER_GB=100
